extend layout

block content
  h2 Create note

  if show
    div.message Your note was successfully added.
  
  form(method="post" action="/notes/create")
    label(for="title") Title
    input(type="text" name="title" id="title")

    label(for="body") Body
    textarea(name="details" id="body" rows="10")

    input(type="submit" value="Create note")
