doctype html
html
  head
    title Hey
    link(rel='stylesheet' type='text/css' href='/assets/css/styles.css')
  body.page-create
    header
      h1
        a(href='/') Notes App
      ul
        li
          a(href='/notes') All notes
        li
          a(href='/archive') Archive

    main
      block content